#!/usr/bin/env exo-open
[Desktop Entry]
Version=1.0
Name=View Images
Comment=View all valid Wii images of this directory.
Exec=bash -c "bash \"\\`dirname \"\\$0\"\\`/../bin/desktop-helper.sh\" tools/view-images.sh" %k
Icon=bash
Terminal=true
Type=Application
Categories=Utility;
